#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  font-family: Helvetica, sans-serif;
}

.footer {
  margin-bottom: 8rem;
}

.post_attachment {
  width: 20%;
  height: 20%;
}

.post_attachment_expand {
  width: 90vw;
  padding: 1rem;
}

.post {
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}

#header_div {
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 0.5em;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  margin-bottom: 1em;
}

#hero_title {
  font-size: 1.5rem;
}

#navigation {
  display: flex;
  gap: 1rem;
}

#navigation > * {
  display: flex;
  gap: 1rem;
}

.link_logo {
  width: 1.5em;
}

form > * {
  display: block;
}

.post_time_stamp {
  margin-top: 0.0rem;
  font-size: 0.8rem;
  font-style: italic;
}

.post_title {
  margin-bottom: 0.0rem;
}

.super_script {
  text-decoration: none;
}

.index_text {
  color: grey;
  font-size: 0.8rem;
  margin: 0;
}

sup {
  font-size: 0.7rem;
}

@media (prefers-color-scheme: light) {
  table, th, td {
    border: 1px solid black;
  }

  .link_logo {
    filter: invert(100%);
  }
}

@media (max-width: 768px) {
  #header {
    flex-direction: column;
  }
  #navigation {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.error_message {
  color: red;
}

.post_comment_container {
  margin-top: 0.5rem;
  padding-left: 1rem;
  border-left: 2px solid darkgrey;
}

.post_comment_container > * {
  font-size: 0.8rem;
}

.post_comment_author {
  font-style: italic;
  margin: 0 0 0;
}

.post_comment_body {
  margin: 0 0 0.4rem;
}

textarea {
  width: 20rem;
  height: 3rem;
  display : block;
  margin: 0.4rem 0;
}

.comment_form {
  margin: 1.4rem 0 0;
}
