#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer {
  position: absolute;
}

.post_attachment {
  width: 20%;
  height: 20%;
}

.post_attachment_expand {
  width: 90vw;
  padding: 1rem;
}

.post {
  padding-bottom: 2rem;
  border-bottom: 2px solid white;
}

#header_div {
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 0.5em;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  margin-bottom: 1em;
}

#hero_title {
  font-size: 1.5rem;
}

#navigation {
  display: flex;
  gap: 1rem;
}

.link_logo {
  width: 1.5em;
}

@media (prefers-color-scheme: light) {
  table, th, td {
    border: 1px solid black;
  }

  .link_logo {
    filter: invert(100%);
  }
}

form > * {
  display: block;
}
